{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Add a new cookie"|t("cookie-banner") %}
{% set selectedSubnavItem = 'compliancyChecklist' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Cookies and vendors'|t("cookie-banner"), url: url('cookie-banner/cookies-and-vendors') },
    { label: 'Add a new cookie'|t("cookie-banner") },
] %}

{% block content %}
    <div class="ccb-create-cookie">
        <div class="flex-fields">
            <div class="ccb-create-cookie-search field width-50">
                {{ forms.textField({
                    label: 'Cookie name'|t("cookie-banner"),
                    id: 'name',
                    name: 'name',
                    value: cookieForEachSite|first['name'],
                    placeholder: 'Name of the cookie you want to add'|t("cookie-banner"),
                }) }}

                <div cookie-search-results class="menu tagmenu">
                    <ul class="group"></ul>
                </div>
            </div>

            <div class="field width-25">
                {{ forms.selectField({
                    label: 'Category'|t("cookie-banner"),
                    id: 'category',
                    name: 'category',
                    options: [
                        { 'label': 'Necessary cookies'|t("cookie-banner"), 'value': 'necessaryCookies' },
                        { 'label': 'Preference cookies'|t("cookie-banner"), 'value': 'preferenceCookies' },
                        { 'label': 'Analytical cookies'|t("cookie-banner"), 'value': 'analyticalCookies' },
                        { 'label': 'Marketing cookies'|t("cookie-banner"), 'value': 'marketingCookies' },
                        { 'label': 'Uncategorized cookies'|t("cookie-banner"), 'value': 'uncategorizedCookies' }
                    ],
                    value: cookieForEachSite|first['vendor'] ~ "Cookies",
                }) }}
            </div>
            
            <div class="field width-25">
                {{ forms.selectField({
                    label: 'Vendor'|t("cookie-banner"),
                    id: 'vendor',
                    name: 'vendor',
                    options: getVendorOptions(),
                }) }}
            </div>

            <hr>

            <div class="field width-100">
                {{ forms.editableTableField({
                    id: 'cookieForEachSite',
                    name: 'fields[cookieForEachSite]',
                    cols: {
                        siteName: { 
                            heading: "Site"|t("cookie-banner"), 
                            type: "singleline",
                            width: '15%',
                        },
                        name: { 
                            heading: "Cookie name"|t("cookie-banner"), 
                            type: "singleline",
                        },
                        vendor: { 
                            heading: "Vendor"|t("cookie-banner"), 
                            type: "select",
                            options: getVendorOptions()
                        },
                        purpose: { 
                            heading: "Purpose"|t("cookie-banner"), 
                            type: "multiline",
                        },
                        expiration: { 
                            heading: "Expiration"|t("cookie-banner"), 
                            type: "singleline",
                        },
                        enabled: {
                            heading: "Enabled for this site"|t("cookie-banner"),
                            type: "lightswitch",
                            width: '10%',
                        }
                    },
                    rows: cookieForEachSite,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false,
                    staticRows: true,
                }) }}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const masterInput = document.getElementById('name');
            const masterVendor = document.getElementById('vendor');
            const cookieSearchResults = document.querySelector("[cookie-search-results]");

            if (masterInput) {
                masterInput.addEventListener('input', async function () {
                    const value = this.value;

                    const tableInputs = document.querySelectorAll(
                        '[name^="fields[cookieForEachSite]"][name$="[name]"]'
                    );

                    console.log(tableInputs);

                    await renderCookieSearchResults(value);

                    tableInputs.forEach(input => input.value = value);
                });
            }

            if (masterVendor) {
                masterVendor.addEventListener('change', function () {
                    const value = this.value;

                    const tableSelects = document.querySelectorAll(
                        'select[name^="fields[cookieForEachSite]"][name$="[vendor]"]'
                    );

                    tableSelects.forEach(select => select.value = value);
                });
            }

            const templateRequest = async (url) => {
                const response = await fetch(url);

                const text = await response.text();

                const parser = new DOMParser();
                const html = parser.parseFromString(text, "text/html");
                const content = html.body.innerHTML;

                return { html, content };
            };

            const renderCookieSearchResults = async (searchTerm) => {
                const { content } = await templateRequest(`/admin/cookie-banner/requests/cookieDatabase?searchTerm=${searchTerm}`);

                cookieSearchResults.innerHTML = content;
            }
        });
    </script>
{% endblock %}