{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Add a new vendor"|t("cookie-banner") %}
{% set selectedSubnavItem = 'compliancyChecklist' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Cookies and vendors'|t("cookie-banner"), url: url('cookie-banner/cookies-and-vendors') },
    { label: 'Add a new vendor'|t("cookie-banner") },
] %}

{% block content %}
    <div class="ccb-create-vendor">
        <div class="flex-fields">
            <div class="ccb-create-cookie-search field width-50">
                {{ forms.textField({
                    label: 'Vendor name'|t("cookie-banner"),
                    id: 'name',
                    name: 'name',
                    value: vendorForAllSites|first['name'],
                    placeholder: 'Name of the vendor you want to add'|t("cookie-banner"),
                }) }}

                <div vendor-search-results class="menu tagmenu">
                    <ul class="group"></ul>
                </div>
            </div>

            <hr>

            <div class="field width-100">
                {{ forms.editableTableField({
                    id: 'vendorForAllSites',
                    name: 'fields[vendorForAllSites]',
                    cols: {
                        siteName: { 
                            heading: "Site"|t("cookie-banner"), 
                            type: "singleline",
                            width: "15%"
                        },
                        name: { 
                            heading: "Vendor Name"|t("cookie-banner"), 
                            type: "singleline",
                            width: "15%"
                        },
                        url: { 
                            heading: "URL"|t("cookie-banner"), 
                            type: "singleline",
                        },
                        description: { 
                            heading: "Description"|t("cookie-banner"), 
                            type: "singleline",
                        },
                        enabled: {
                            heading: "Enabled for this site"|t("cookie-banner"),
                            type: "lightswitch",
                            width: "10%"
                        }
                    },
                    rows: vendorForAllSites,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false,
                    staticRows: true,
                }) }}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const masterInput = document.getElementById('name');
            const vendorSearchResults = document.querySelector("[vendor-search-results]");

            if (masterInput) {
                masterInput.addEventListener('input', async function () {
                    const value = this.value;

                    const tableInputs = document.querySelectorAll(
                        '[name^="fields[vendorForAllSites]"][name$="[name]"]'
                    );

                    await renderVendorSearchResults(value);

                    tableInputs.forEach(input => input.value = value);
                });
            }

            const templateRequest = async (url) => {
                const response = await fetch(url);

                const text = await response.text();

                const parser = new DOMParser();
                const html = parser.parseFromString(text, "text/html");
                const content = html.body.innerHTML;

                return { html, content };
            };

            const renderVendorSearchResults = async (searchTerm) => {
                const { content } = await templateRequest(`/admin/cookie-banner/requests/vendorDatabase?searchTerm=${searchTerm}`);

                vendorSearchResults.innerHTML = content;
            }
        });
    </script>
{% endblock %}
