{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Edit the " ~ vendorForAllSites[0].name ~ " cookie for all sites"|t("cookie-banner") %}
{% set selectedSubnavItem = 'compliancyChecklist' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Cookies and vendors'|t("cookie-banner"), url: url('cookie-banner/cookies-and-vendors') },
    { label: 'Add a new vendor'|t("cookie-banner") },
] %}

{% block content %}
    <div class="ccb-create-vendor">
        <div class="flex-fields">
            <div class="field width-50">
                {{ forms.textField({
                    label: 'Vendor name'|t("cookie-banner"),
                    id: 'name',
                    name: 'name',
                    value: vendorForAllSites[0]['name'],
                    placeholder: 'Name of the vendor'|t("cookie-banner"),
                }) }}
            </div>

            <hr>

            <div class="field width-100">
                {{ forms.editableTableField({
                    id: 'vendorForAllSites',
                    name: 'fields[vendorForAllSites]',
                    cols: {
                        siteName: { 
                            heading: "Site"|t("cookie-banner"), 
                            type: "singleline",
                            width: "15%"
                        },
                        name: { 
                            heading: "Vendor Name"|t("cookie-banner"), 
                            type: "singleline",
                            width: "15%"
                        },
                        url: { 
                            heading: "URL"|t("cookie-banner"), 
                            type: "singleline",
                        },
                        description: { 
                            heading: "Description"|t("cookie-banner"), 
                            type: "singleline",
                        },
                        enabled: {
                            heading: "Enabled for this site"|t("cookie-banner"),
                            type: "lightswitch",
                            width: "10%"
                        }
                    },
                    rows: vendorForAllSites,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false,
                    staticRows: true,
                }) }}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const masterInput = document.getElementById('name');

            if (masterInput) {
                masterInput.addEventListener('input', function () {
                    const value = this.value;

                    const tableInputs = document.querySelectorAll(
                        '[name^="fields[vendorForAllSites]"][name$="[name]"]'
                    );

                    tableInputs.forEach(input => input.value = value);
                });
            }
        });
    </script>
{% endblock %}
