#ccb-cookie-banner {
	--clr-white: #fff;
	--clr-black: #000;

	--clr-grey-900: #3f4d5a;
	--clr-grey-800: #425166;
	--clr-grey-700: #596673;
	--clr-grey-600: #54626f;
	--clr-grey-500: #afb6bf;
	--clr-grey-400: #d7dee7;
	--clr-grey-300: #e5e7eb;
	--clr-grey-200: #f3f7fb;

	--clr-green-500: #009c8c;
	--clr-green-100: #cce8ea;
	--clr-orange-500: #ffa100;
	--clr-orange-200: #ffebc6;
	--clr-orange-100: #fff7e8;
	--clr-red-500: #dc2626;
	--clr-red-200: #fdc5c5;
	--clr-blue-800: #143b8e;
	--clr-blue-500: #2563eb;
	--clr-blue-100: #c1d1f4;
}
