@use "reset";
@use "variables";
@use "typography";
@use "breakpoints" as *;
@use "components";

.ccb-cookie-banner {
	position: fixed;
	overflow: hidden;
	z-index: 99999;

	border-radius: var(--ccb-banner-border-radius);
	background-color: var(--ccb-banner-background);
	box-shadow: 0 4px 50px 0 hsla(215, 21%, 33%, 0.1);

	opacity: 0;
	pointer-events: none;
	transform: translateY(50%);
	transition: all 0.5s cubic-bezier(0.3, 0.7, 0.4, 1);

	@include styles-below(tablet) {
		position: fixed;
		inset: 0.75em;
	}

	@include styles-above(tablet) {
		max-width: 40.625em;
		width: 100%;

		&.bottom-left {
			bottom: 0.75em;
			left: 0.75em;
		}

		&.centered {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&.bottom-right {
			right: 0.75em;
			bottom: 0.75em;
		}
	}

	&.visible {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	ul,
	ol,
	li {
		list-style: none;
		font-size: unset;
	}

	&::-webkit-scrollbar {
		width: 0.25em;
		height: 0.25em;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--clr-grey-400);
		border-radius: 0.625em;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: var(--clr-grey-500);
	}

	& > * {
		scrollbar-width: thin;
		scrollbar-color: var(--clr-grey-400) transparent;
	}

	a {
		color: var(--ccb-link-color);
		text-decoration: underline;
		transition: all ease-out 0.15s;

		&:hover {
			color: var(--ccb-link-hover-color);
			cursor: pointer;
		}
	}

	&-preview {
		display: flex;
		flex-direction: column;
		gap: 1.5em;
		padding: 1.5em;
		overflow: hidden;
		overflow-y: scroll;
		max-height: calc(100dvh - 1.5em);
		padding-bottom: 94px;

		@include styles-below(tablet) {
			padding: 0.75em;
			padding-bottom: 200px;
		}
	}

	&-details {
		display: none;

		&.visible {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
	}

	&-intro {
		display: flex;
		flex-direction: column;
		gap: 1em;

		& > .ccb-typo-h2 {
			color: var(--ccb-title-color);
		}

		& > .ccb-typo-body-md {
			color: var(--ccb-text-color);
		}
	}

	&-legal-links-list {
		display: flex;
		align-items: center;
		gap: 2em;

		[data-determine-preferences-link] {
			display: none;

			&.visible {
				display: flex;
			}
		}
	}

	&-categories-list {
		display: none;

		&.visible {
			display: flex;
			flex-wrap: wrap;
			gap: 2em;
			margin-bottom: 0.75em;

			@include styles-above(tablet) {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 0.75em;
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			gap: 0.5em;

			p {
				color: var(--ccb-title-color);
				white-space: nowrap;
			}
		}
	}

	&-action-buttons {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		padding: 1.5em;
		background-color: var(--ccb-banner-background);

		@include styles-below(tablet) {
			padding: 0.75em;

			&::after {
				content: "";
				position: absolute;
				top: -64px;
				right: 0;
				left: 0;
				height: 64px;
				background: linear-gradient(to top, var(--ccb-banner-background), transparent);
				pointer-events: none;
			}
		}

		button {
			width: 100%;

			@include styles-above(tabletS) {
				width: fit-content;
			}
		}

		@include styles-above(tabletS) {
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
		}

		[data-accept-selected-button],
		[data-determine-preferences-button] {
			display: none;

			&.visible {
				display: flex;
			}
		}
	}
}

.ccb-button {
	width: fit-content;
	border-radius: var(--ccb-button-border-radius);
	background-color: var(--ccb-button-background);
	color: var(--ccb-button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	padding: var(--ccb-button-padding);
	border: var(--ccb-button-border-thickness) solid var(--ccb-button-border-color);
	transition: all ease-out 0.15s;
	text-decoration: none;

	.c-icon {
		height: 0.75em;
		width: auto;
	}

	&:hover,
	&:focus-visible {
		cursor: pointer;
		background-color: var(--ccb-button-hover-background);
		color: var(--ccb-button-hover-color);
		border-color: var(--ccb-button-hover-border-color);
	}

	&:focus-visible {
		outline: none;
	}
}

.ccb-lightswitch {
	display: flex;
	width: fit-content;

	input[type="checkbox"] {
		appearance: none;
		height: 1.5em;
		width: 3em;
		border-radius: var(--ccb-toggle-border-radius);
		background-color: var(--ccb-toggle-background-color-off);
		position: relative;
		cursor: pointer;
		transition: all ease-out 0.15s;
		font-size: 16px;

		&:hover {
			filter: brightness(0.9);
		}

		&:disabled {
			cursor: not-allowed;
		}
	}

	input[type="checkbox"]::before {
		content: "";
		display: block;
		border-radius: var(--ccb-toggle-border-radius);
		height: 1.25em;
		width: 1.25em;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: calc(1.25em / 2 + 0.125em);
		background-color: var(--ccb-toggle-color);
		transition: all ease-out 0.15s;
	}

	input[type="checkbox"]:checked {
		background-color: var(--ccb-toggle-background-color-on);
	}

	input[type="checkbox"]:checked::before {
		left: calc(100% - (1.25em / 2 + 0.125em));
	}
}

.ccb-cookies-category {
	font-size: 16px;

	&.open .ccb-cookies-category-toggle svg {
		transform: rotate(0);
	}

	&-toggle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		margin-bottom: 0.5em;

		&-label {
			display: flex;
			align-items: center;
			gap: 0.5em;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
				text-decoration-color: var(--ccb-title-color);
			}

			h3 {
				color: var(--ccb-title-color);
			}

			svg {
				transform: rotate(-90deg);
				transition: all ease-out 0.15s;
				color: var(--ccb-title-color);
			}
		}
	}

	&-content-inner {
		display: flex;
		flex-direction: column;
		gap: 1em;

		& > p {
			padding-right: 5em;
			color: var(--ccb-text-color);
		}
	}

	&-groups-list {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		&-item {
			&-collapse.open .ccb-cookies-category-groups-list-item-toggle svg {
				transform: scaleY(-1);
			}

			&-toggle {
				display: flex;
				flex-direction: column;
				gap: 0.2em;
				padding: 0.75em 1em;
				border: var(--ccb-cookie-group-border-thickness) solid var(--ccb-cookie-group-border-color);
				background-color: var(--ccb-cookie-group-background);
				border-radius: var(--ccb-cookie-group-border-radius);
				transition: all ease-out 0.15s;

				&:hover {
					cursor: pointer;
					background-color: var(--ccb-cookie-group-hover-background);
					border: var(--ccb-cookie-group-border-thickness) solid var(--ccb-cookie-group-hover-border-color);
				}

				div {
					display: flex;
					justify-content: space-between;
					align-items: center;

					h4 {
						color: var(--ccb-cookie-group-title-color);
					}

					svg {
						transition: all ease-out 0.15s;
						color: var(--ccb-cookie-group-title-color);
					}
				}

				a {
					color: var(--ccb-cookie-group-link-color);
					transition: all ease-out 0.15s;
					width: fit-content;

					&:hover {
						color: var(--ccb-cookie-group-link-hover-color);
					}
				}

				p {
					color: var(--ccb-cookie-group-text-color);
				}
			}
		}
	}
}

.ccb-cookies-category-groups-list-item-collapse .ccb-cookies-table {
	margin-top: 0.5em;
}

.ccb-cookies-category-groups-list-item-collapse .ccb-cookies-table:not(:last-child) {
	margin-bottom: 2px;
}

.ccb-cookies-table {
	border-radius: var(--ccb-cookie-table-border-radius);
	border: var(--ccb-cookie-table-border-thickness) solid var(--ccb-cookie-table-border-color);
	background-color: var(--ccb-cookie-table-background);

	&-main {
		border-collapse: collapse;
	}

	tr:not(:last-child) {
		border-bottom: var(--ccb-cookie-table-border-thickness) solid var(--ccb-cookie-table-border-color);
	}

	td {
		padding: 0.75em;
		color: var(--ccb-cookie-table-title-color);

		@include styles-below(tablet) {
			display: block;
		}

		span {
			display: none;
			font-weight: 600;

			@include styles-below(tablet) {
				display: inline;
			}
		}
	}

	&-name,
	&-expiration {
		white-space: nowrap;
	}
}

.hidden {
	display: none;
}

.ccb-consent-overview {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 3em;

	p,
	h2,
	h3 {
		margin: 0;
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 0.75em;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			padding: 1em;
			border-radius: 0.5em;
			background-color: var(--gray-050);

			& > h3 {
				font-weight: 500;
			}

			& > p {
				font-size: 2em;
				line-height: 2rem;
				font-weight: 700;
			}
		}
	}
}

.status-chip {
	display: flex;
	width: fit-content;
	padding: 0.5em 1.25em;
	border-radius: 2rem;
	font-size: 0.6875em;
	font-weight: 500;
	line-height: 1.6;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: rgb(from var(--gray-500) r g b / 15%);

	&.chip-controls {
		transition: all ease-out 150ms;

		&:hover {
			cursor: pointer;
			background-color: rgb(from var(--gray-500) r g b / 25%);
		}
	}

	&.detected {
		background-color: rgb(from var(--blue-500) r g b / 15%);
		color: var(--blue-900);
	}

	&.not-defined,
	&.denied {
		background-color: rgb(from var(--red-500) r g b / 15%);
		color: var(--red-900);
	}

	&.defined-incomplete {
		background-color: rgb(from var(--amber-500) r g b / 15%);
		color: var(--amber-900);
	}

	&.defined,
	&.granted {
		background-color: rgb(from var(--teal-550) r g b / 15%);
		color: var(--teal-900);
	}
}

.flex-fields > h3.ccb-h3-label {
	margin-block: 0 0.5em !important;
}

.ccb-vendors,
.ccb-compliancy-checklist {
	table {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;

		th.centered,
		td.centered {
			text-align: center;
		}
	}

	tr.disabled {
		pointer-events: none;
	}

	table th:last-child,
	table td:last-child {
		position: sticky;
		right: 0;
		background-color: var(--pane-bg);
		z-index: 99;
	}

	table th:last-child {
		background-color: var(--gray-050);
	}
}

.ccb-compliancy-checklist {
	&-item-actions {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.ccb-actions-menu {
	width: fit-content;

	& > button {
		gap: 12px;
	}

	&:hover .ccb-actions-menu-content {
		pointer-events: all;
		opacity: 1;
	}

	&-content {
		pointer-events: none;
		opacity: 0;
		position: absolute;
		background: #fff;
		border-radius: 4px;
		box-shadow:
			0 0 0 1px rgba(31, 41, 51, 0.1),
			0 5px 20px rgba(31, 41, 51, 0.25);
		overflow: auto;
		padding: 0 14px;
		user-select: none;
		z-index: 100;
	}

	&-option.danger button,
	&-option.danger a {
		color: rgb(216, 31, 35);
	}

	&-option > form,
	&-option > button,
	&-option > a {
		display: block;
		text-align: start;
		appearance: none;
		font-size: 14px;
		margin-block: 0;
		margin-inline: -14px;
		padding-block: 10px;
		padding-inline: 14px;
		white-space: nowrap;
		color: #3f4d5a;

		&:hover {
			color: var(--white) !important;
			background-color: var(--bg-selection-dark);
			text-decoration: none;
			cursor: pointer;

			& > * {
				color: var(--white) !important;
			}
		}
	}
}

.ccb-detected-cookies-legend {
	padding: 16px;
	margin-bottom: 16px;
	border: 1px solid var(--gray-100);
	border-radius: var(--radius-lg);
	width: fit-content;

	& > div {
		display: flex;
		gap: 8px;
	}
}

.details:has(.ccb-detected-cookies-legend) {
	padding: 0;
}

.ccb-detected-cookies-table {
	position: relative;
	z-index: 0;
}

.ccb-edit-cookie,
.ccb-create-cookie {
	table {
		tr {
			td:nth-child(1),
			td:nth-child(2),
			td:nth-child(3),
			&.uneditable > td:nth-child(4),
			&.uneditable > td:nth-child(5) {
				position: relative;
				opacity: 1 !important;
				cursor: not-allowed !important;
				pointer-events: none;

				&::after {
					background-color: hsla(212, 60%, 97%, 0.75);
					content: "";
					font-size: 0;
					height: 100%;
					inset-block-start: 0;
					inset-inline-start: 0;
					position: absolute;
					user-select: none;
					width: 100%;
					z-index: 10;
				}
			}
		}
	}
}

.ccb-create-vendor {
	table {
		tr {
			td:nth-child(1),
			td:nth-child(2),
			&.uneditable > td:nth-child(4),
			&.uneditable > td:nth-child(5) {
				position: relative;
				opacity: 1 !important;
				cursor: not-allowed !important;
				pointer-events: none;

				&::after {
					background-color: hsla(212, 60%, 97%, 0.75);
					content: "";
					font-size: 0;
					height: 100%;
					inset-block-start: 0;
					inset-inline-start: 0;
					position: absolute;
					user-select: none;
					width: 100%;
					z-index: 10;
				}
			}
		}
	}
}

.ccb-getting-started {
	display: flex;

	&-main {
		width: 100%;
		height: 100%;

		svg {
			height: 72px;
			width: 72px;
		}
	}

	&-welcome {
		padding: 32px;
		width: 100%;
		border-radius: 5px;
		background-color: var(--gray-050);

		& > * {
			margin-inline: auto;
			text-align: center;
			max-width: 650px;
		}
	}

	&-checklist {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&-goal {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		border: 1px solid rgba(96, 125, 159, 0.25) !important;
		box-shadow: none;
		border-radius: 5px;
		height: 100%;

		&-title {
			display: flex;
			align-items: center;
			gap: 16px;

			h2 {
				margin-top: 0;
			}

			svg {
				height: 28px;
				width: 28px;
				display: none;
			}
		}

		&.completed {
			background-color: #009c8c;
			color: white;
			border: none !important;
			height: unset;

			.ccb-getting-started-goal-action {
				display: none;
			}

			.ccb-getting-started-goal-main {
				& > p,
				& > ol {
					display: none;
				}
			}

			svg {
				display: flex;
			}
		}

		&-main {
			width: 100%;
			padding: 0.875rem;

			& > ol {
				margin-top: 14px;
			}
		}

		&-action {
			margin-top: auto;
			display: flex;
			width: 100%;
			padding: 0.875rem;
			border-top: 1px solid rgba(96, 125, 159, 0.25) !important;
		}
	}
}

.ccb-settings {
	#necessaryCookies,
	#preferenceCookies,
	#analyticalCookies,
	#marketingCookies,
	#uncategorizedCookies {
		tr {
			td:nth-child(1),
			td:nth-child(2) {
				position: relative;
				opacity: 1 !important;
				cursor: not-allowed !important;
				pointer-events: none;

				&::after {
					background-color: hsla(212, 60%, 97%, 0.75);
					content: "";
					font-size: 0;
					height: 100%;
					inset-block-start: 0;
					inset-inline-start: 0;
					position: absolute;
					user-select: none;
					width: 100%;
					z-index: 10;
				}
			}
		}
	}

	#cookieGroups {
		tr {
			td:first-child {
				position: relative;
				opacity: 1 !important;
				cursor: not-allowed !important;
				pointer-events: none;

				&::after {
					background-color: hsla(212, 60%, 97%, 0.75);
					content: "";
					height: 100%;
					inset-block-start: 0;
					inset-inline-start: 0;
					position: absolute;
					user-select: none;
					width: 100%;
					z-index: 10;
				}
			}
		}
	}
}

.ccb-create-vendor-search,
.ccb-create-cookie-search {
	&:focus-within .menu {
		display: flex !important;
	}

	.menu {
		max-height: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.field {
		margin-bottom: 0;
	}

	.group li:hover .menu-item {
		color: var(--white);
		background: var(--gray-500);
	}

	[vendor-search-results] {
		h3 {
			span:nth-of-type(2) {
				font-weight: 400;
			}
		}
	}

	[cookie-search-results] {
		h3 {
			span:nth-of-type(3) {
				font-weight: 400;
			}
		}
	}
}

.ccb-dashboard {
	display: grid;
	grid-template-columns: 1fr 380px;
	gap: 24px;

	.ccb-graph {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 16px;
		padding-bottom: 0;
		box-shadow: none;
		border-radius: 5px;
		background-color: var(--gray-050);
		overflow: hidden;

		h2 {
			margin: 0;
		}

		&-numbers {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
			gap: 24px;
		}

		&-number {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			border: 1px solid rgba(96, 125, 159, 0.25) !important;
			padding: 1em;
			border-radius: 5px;

			h3 {
				font-size: 1em;
				font-weight: 500;
				margin: 0;
			}

			p {
				font-size: 2em;
				line-height: 2rem;
				font-weight: 700;
				margin: 0;
			}

			&-value {
				display: flex;
				gap: 8px;
				align-items: flex-end;
			}

			&-relative-value {
				display: flex;
				align-items: center;
				gap: 4px;

				svg {
					height: 12px;
					width: auto;
				}

				p {
					display: flex;
					font-size: 1em;
					line-height: 1.6;
					height: fit-content;
				}
			}
		}
	}

	.consent-records-graph {
		padding-bottom: 12px;
	}

	.cookies-and-vendors-graph,
	.consent-records-graph {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 280px;
	}

	.cookies-and-vendors-graph {
		transform: translateY(6px);
		margin-top: auto;
		height: 380px;
	}
}
