.ccb-typo-h2 {
	font-size: 1.125em;
	font-weight: 600;
	line-height: 1.4;
	font-family: var(--ccb-banner-title-font);
}

.ccb-typo-h3 {
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1.4;
	font-family: var(--ccb-banner-title-font);
}

.ccb-typo-h4 {
	font-size: 0.75em;
	font-weight: 600;
	line-height: 1.4;
	font-family: var(--ccb-banner-title-font);
}

.ccb-typo-body-md {
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.6;
	font-family: var(--ccb-banner-text-font);
}

.ccb-typo-body-sm {
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1.6;
	font-family: var(--ccb-banner-text-font);
}

.ccb-semi-bold {
	font-weight: 600;
}
