{% set searchTermQueryParam = craft.app.request.getQueryParam("searchTerm") %}

{% set results = searchVendorDatabase(searchTermQueryParam) %}

<ul class="group">
    {% for vendor in results %}
        <li>
            <a class="menu-item" href="{{ cpUrl('cookie-banner/cookies-and-vendors/create-vendor?autoFillVendor=' ~ vendor.item.name) }}">
                <h3>
                    <span>{{ vendor.item.name }}</span> 
                    <span>{{ vendor.item.description|default("")|truncate(40) }}</span>
                </h3>
            </a>
        </li>
    {% endfor %}
</ul>